/*------------------------------------------------------------------------
# Palettes
------------------------------------------------------------------------*/
.palette-primary {

	/*-----------------------------------------------
	## 1
	-----------------------------------------------*/
	.site-header {
		background: $palette-primary_1;
		border-bottom: 1px solid transparent;
	}
	.background-secondary,
	.dropdown-menu,
	.navbar-default .navbar-nav > li > a,
	.site-title a,
	.background-secondary h2,
	.background-secondary p {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	.site-title a,
	.site-description,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a,
	.navbar-default .navbar-nav > li > a,
	.site-header .widget.well,
	.site-header caption {
		color: $text-contrast-palette-primary_1;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: $text-contrast-palette-primary_1;
	}
	.navbar-default .navbar-toggle {
		border-color: $text-contrast-palette-primary_1;
	}	

	/*-----------------------------------------------
	## 2
	-----------------------------------------------*/
	.button-primary,
	.form-submit .submit,
	input[type="submit"],
	.pager li > a {
		background: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
		/* Box Shadow */
		-webkit-box-shadow: 0 3px 0 0 $palette-primary_3;
		-moz-box-shadow: 0 3px 0 0 $palette-primary_3;
		box-shadow: 0 3px 0 0 $palette-primary_3;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus {
		background: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	.button-secondary:hover,
	.button-secondary:focus,
	.button-secondary:active,
	.mark,
	mark {
		background: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	hr {
		background: $palette-primary_2;
	}
	a,
	.link-primary,
	.secondary-menu li a,
	.tertiary-menu li a,
	.footer-center-menu li a,
	.mod-blockquote p,
	blockquote,
	.current_page_item a,
	.disabled-footer .site-footer a,
	.site-footer a,
	.site-header .widget.well a {
		color: $palette-primary_2;
	}
	.gridblock li::before {
		background-color: $palette-primary_2;
	}

	/*-----------------------------------------------
	## 3
	-----------------------------------------------*/
	.button-secondary {
		background: $palette-primary_3;
		color: $text-contrast-palette-primary_3;
		/* Box Shadow */
		-webkit-box-shadow: 0 3px 0 0 $palette-primary_2;
		-moz-box-shadow: 0 3px 0 0 $palette-primary_2;
		box-shadow: 0 3px 0 0 $palette-primary_2;
	}
	.button-secondary:hover,
	.button-secondary:focus {
		-webkit-box-shadow: 0 3px 0 0 $palette-primary_3;
		-moz-box-shadow: 0 3px 0 0 $palette-primary_3;
		box-shadow: 0 3px 0 0 $palette-primary_3;
	}
	.nav > li > a:hover,
	.nav > li > a:focus,
	.site-header .widget.well .nav > li > a:hover,
	.site-header .widget.well .nav > li > a:focus,
	.navbar-default .navbar-nav .dropdown-menu > .active > a,
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus,
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus,
	.button-primary:hover,
	.button-primary:focus,
	.button-primary:active,
	.form-submit .submit:hover,
	.form-submit .submit:focus,
	.form-submit .submit:active,
	input[type="submit"]:hover,
	input[type="submit"]:focus,
	input[type="submit"]:active,
	.pager li > a:active,
	.pager li > a:hover {
		background: $palette-primary_3;
		color: $text-contrast-palette-primary_3;
	}
	.secondary-menu .current_page_item a,
	.tertiary-menu .current_page_item a,
	.footer-center-menu  .current_page_item a,
	.link-secondary,
	.mod-alpha h2,
	.mod-alpha h3,
	.mod-alpha h5 {
		color: $palette-primary_3;
	}
	.mod-blockquote {
		border-left: 3px solid $palette-primary_3;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
		background: $palette-primary_3;
	}
	.navbar-default .navbar-toggle:hover .icon-bar,
	.navbar-default .navbar-toggle:focus .icon-bar {
		background: $text-contrast-palette-primary_3;
	}

	/*-----------------------------------------------
	## 4
	-----------------------------------------------*/
	/** This theme uses a background-pattern dont add .mce-content-body  **/
	.background-primary {
		background-color: $palette-primary_4;
		color: $text-contrast-palette-primary_4;
	}
	.widget-title,
	#reply-title  {
		color: $text-contrast-palette-primary_4;
	}

	/*-----------------------------------------------
	## Et Cetera
	-----------------------------------------------*/
	.entry-title {
		color: $text-contrast-palette-primary_1;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+50,000000+100&0+0,0.2+50,0+100 */
		background: -moz-linear-gradient(left,  rgba(0,0,0,.0) 0%, rgba(0,0,0,.20) 50%, rgba(0,0,0,.0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(0,0,0,.0) 0%,rgba(0,0,0,.20) 50%,rgba(0,0,0,.0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(0,0,0,.0) 0%,rgba(0,0,0,.20) 50%,rgba(0,0,0,.0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
		background-color: $palette-primary_1; /* Old browsers */
		a, &:hover, &:focus {
			text-decoration: none;
			color: $text-contrast-palette-primary_1;
		}
	}
}

/*------------------------------------------------------------------------
# Additional Body Classes
------------------------------------------------------------------------*/
.palette-primary.woocommerce .color1-color,
.palette-primary.woocommerce-page .color1-color {
	color: $palette-primary_2 !important;
}
.palette-primary.woocommerce div.product .stock,
.palette-primary.woocommerce div.product .stock.out-of-stock {
	color: $palette-primary_2;
}